@font-face {
    font-family: 'Dense'; 
    src: local('Dense'), url(/fonts/Dense-Regular.otf) format("opentype"); 
}
html,
body {
    height: 100%;
    color:  #ebebeb;
    background-color: #3f0f0a;
    font-family: 'Dense';
    font-size: medium;
}

a {
    color: #F4C47F;
    text-decoration: none;
} a:hover {
    color: #FF0000;
    text-decoration: none;
}

.site-index {
    background-position: center top;
    background-image: url(/img/main_background.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ebebeb;
    text-align: center;
    padding-bottom: 30px;
}
.site-index-banners {
    text-align: center;
}

.not-set {
    color: #ebebeb;
    font-style: italic;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #7c1905;
    border-radius: 4px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: auto;
    background-color: #7c1905;
    border-top: #7c1905;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    padding-top: 10%;
    color: #ebebeb;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
    font-size: larger;
}

.form-control {
    font-size: small;
}

.btn {
    font-size: medium;
}

.btn-main-red {
    color: #ebebeb;
    background-color: #7c1905;
    border-color: #7c1905;
}.btn-main-red:hover {
    color: #7c1905;
    background-color: #ebebeb;
    border-color: #ebebeb;
}.btn-main-red:active:focus {
  color: #ebebeb;
  background-color: #7c1905;
  border-color: #7c1905;
}

.btn-main-white {
    color: #7c1905;
    background-color: #ebebeb;
    border-color: #ebebeb;
}.btn-main-white:hover {
    color: #ebebeb;
    background-color: #7c1905;
    border-color: #7c1905;
}.btn-main-white:active:focus {
  color: #7c1905;
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.btn-danger {
    color: #ebebeb;
    background-color: #7c1905;
    border-color: #7c1905;
}.btn-danger:hover {
    background-color: #FF0000;
    border-color: #FF0000;
}.btn-danger:active:focus {
  color: #ebebeb;
  background-color: #7c1905;
  border-color: #7c1905;
}

.btn-success {
    color: #ebebeb;
    background-color: #339900;
    border-color: #339900;
} .btn-success:hover {
    background-color: #33FF00;
    border-color: #33FF00;
} .btn-success:active:focus {
  color: #ebebeb;
  background-color: #339900;
  border-color: #339900;
}

.btn-primary {
    color: #ebebeb;
    background-color: #3A5FCD;
    border-color: #3A5FCD;
} .btn-primary:hover {
    background-color: #0000FF;
    border-color: #0000FF;
} .btn-prymary:active:focus {
    color: #ebebeb;
    background-color: #3A5FCD;
    border-color: #3A5FCD;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #ebebeb;
    background-color: #7c1905;
    border-color: #7c1905;
    text-decoration: none;
}
.pagination>li>a, .pagination>li>span, .pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #7c1905;
    background-color: #ebebeb;
    border-color: #ebebeb;
    text-decoration: none;
}
.pagination>li>a:hover, .pagination>li>span:hover{
    color: #FF0000;
    text-decoration: none;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*.grid-view td {
    white-space: nowrap;
}*/

.grid-view th {
    text-align: center;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus{
    color: #ebebeb;
    background-color: #7c1905;  
}
.nav-tabs > li.active > a:hover {
    color: #7c1905;
    background-color: #ebebeb;  
}

.nav > li > form {
    color: #ea573b;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.navbar-default {
  background-color: #7c1905;
  border-color: #3f0f0a;
  height: 5%;
}
.navbar-default .navbar-brand {
  color: #ebebeb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ebebeb;
}
.navbar-default .navbar-text {
  color: #ebebeb;
}
.navbar-default .navbar-nav > li > a {
  color: #ebebeb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ebebeb;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #7c1905;
  font-size: small;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ebebeb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ebebeb;
  background-color: #3f0f0a;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #3f0f0a;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ebebeb;
  background-color: #3f0f0a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ebebeb;
  background-color: #3f0f0a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ebebeb;
  background-color: #3f0f0a;
}
.navbar-default .navbar-toggle {
  border-color: #3f0f0a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3f0f0a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ebebeb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ebebeb;
}
.navbar-default .navbar-link {
  color: #ebebeb;
}
.navbar-default .navbar-link:hover {
  color: #ebebeb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ebebeb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ebebeb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ebebeb;
    background-color: #3f0f0a;
  }
}